<mat-card>
  <div class="container">
    <div class="row">
      <span class="col-12 mat-h2 text-center">Write a post</span>
      <hr />
      <div class="create-post-container col-12">
        <form
          class="example-form"
          (ngSubmit)="createPost()"
          [formGroup]="createPostForm"
        >
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Enter Post title"
              [formControl]="postName"
            />
            <mat-error
              *ngIf="(postName.invalid && postName.dirty) || postName.touched"
            >
              <ng-container *ngIf="postName.errors?.['required']">
                Title is required
              </ng-container>
              <ng-container *ngIf="postName.errors?.['minlength']">
                Title should be at least 3 characters long
              </ng-container>
            </mat-error>
          </mat-form-field>
          <div class="mt-2"></div>
          <mat-form-field
            *ngIf="
              !editMode && !subreddits.isLoading && subreddits.error.length < 1
            "
            class="col-12"
          >
            <mat-select required [formControl]="subredditName">
              <mat-option disabled selected>-- None --</mat-option>
              <mat-option
                *ngFor="let sub of subreddits.data?.content"
                [value]="sub.id"
              >
                r/{{ sub.name }} - (Created By - u/{{ sub.creator?.username }})
              </mat-option>
              <div class="row mt-3" *ngIf="!subreddits.data?.last">
                <div class="col-12 text-center">
                  <button
                    color="primary"
                    mat-raised-button
                    (click)="fetchNextSubreddits()"
                  >
                    Fetch more subreddits
                  </button>
                </div>
              </div>
            </mat-select>
            <mat-label>Subreddit</mat-label>
            <mat-error
              *ngIf="
                (subredditName.invalid && subredditName.dirty) ||
                subredditName.touched
              "
            >
              <ng-container *ngIf="subredditName.errors?.['required']">
                A subreddit is required
              </ng-container>
            </mat-error>
          </mat-form-field>
          <ng-container *ngIf="subreddits.isLoading">
            <div class="centerItem">
              <mat-progress-spinner
                mode="indeterminate"
                type="indeterminate"
                color="primary"
                diameter="50"
                class="mt-2 example-margin"
              >
              </mat-progress-spinner>
            </div>
          </ng-container>
          <ng-container *ngIf="subreddits.error">
            <mat-card class="errorCard">
              <div>
                <app-informer
                  [inputString]="subreddits.error"
                  [alertType]="'danger'"
                ></app-informer>
                <app-error-handler
                  class="errorCard"
                  [callback]="fetchNextSubreddits"
                  [inputString]="'Retry'"
                ></app-error-handler>
              </div>
            </mat-card>
          </ng-container>

          <div class="mt-4"></div>
          <editor
            class="col-12"
            [formControl]="description"
            [init]="{
              height: 500,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                                alignleft aligncenter alignright alignjustify | \
                                bullist numlist outdent indent | removeformat | help'
            }"
          ></editor>
          <mat-error
            *ngIf="
              (description.invalid && description.dirty) || description.touched
            "
          >
            <ng-container *ngIf="description.errors?.['required']">
              Description is required
            </ng-container>
            <ng-container *ngIf="description.errors?.['minlength']">
              Description should be at least 5 characters long
            </ng-container>
          </mat-error>

          <div class="mt-4 col-12 text-center">
            <button mat-raised-button type="submit" color="primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
