<mat-card class="mt-2">
  <span
    ><a
      class="linkq text-info"
      [routerLink]="'/user/' + comment.commentBy.username"
      >{{ comment.commentBy.username }}</a
    >
    {{ comment.commentDate | rdate }}</span
  >
  <div class="row">
    <span class="col-11 mat-h3">{{ comment.text }}</span>

    <button
      *ngIf="comment.myComment"
      mat-mini-fab
      (click)="deleteComment()"
      color="primary"
      class="pull-right"
    >
      <mat-icon class="mat-18">delete</mat-icon>
    </button>
  </div>
</mat-card>
