<mat-card>
  <div class="row">
    <div class="col-1 col-sm-1">
      <mat-icon class="mat-18">person</mat-icon>
    </div>
    <div class="col-8">
      <div class="madeBy text-center" matRipple>
        <span class="" color="primary" (click)="gotoCreatePost()">
          <mat-icon class="mat-18">edit</mat-icon>
          <span class="mat-18">Create Post</span>
        </span>
      </div>
    </div>
    <div class="col-1">
      <mat-icon class="mat-18">photo</mat-icon>
    </div>
    <div class="col-1">
      <mat-icon class="mat-18">attachment</mat-icon>
    </div>
  </div>
</mat-card>
