.madeBy {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  &:hover {
    text-decoration: none;
  }

  /* Remove underline from the anchor element */
  a {
    // text-decoration: none;
  }

  /* Remove visited link color */
  a:visited {
    color: inherit;
  }
}
