<div class="row">
  <div class="fist-col-wrapper column">
    <div class="first-column">
      <div class="container-fluid">
        <app-home-create-post></app-home-create-post>
        <div class="mt-4"></div>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <div *ngFor="let item of homePagePosts.data?.content">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Created by : {{ item.user.username }}</p>
              <p>Number of comments : {{ item.commentCount }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <ng-container
          *ngIf="
            (homePagePosts.data?.content?.length ?? 0) > 0 &&
            !homePagePosts.data?.last
          "
        >
          <div class="centerItem">
            <button mat-raised-button (click)="fetchNext()">Fetch More</button>
          </div>
        </ng-container>
        <ng-container *ngIf="homePagePosts.isLoading">
          <div class="centerItem">
            <mat-progress-spinner
              mode="indeterminate"
              type="indeterminate"
              color="primary"
              class="example-margin"
            >
            </mat-progress-spinner>
          </div>
        </ng-container>
        <ng-container *ngIf="homePagePosts.error">
          <mat-card class="errorCard">
            <div>
              <app-informer [inputString]="homePagePosts.error"></app-informer>
              <app-error-handler
                class="errorCard"
                [callback]="fetchNext"
                [inputString]="'Retry'"
              ></app-error-handler>
            </div>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="isDesktop" class="column second-column">
    <div class="row">
      <app-home-side-view></app-home-side-view>
    </div>
  </div>
</div>
