<mat-card class="example-card mt-2 item-hover" matRipple *ngIf="post">
  <div class="row">
    <div class="ms-1 col-2">
      <app-vote
        [voteCount]="post.voteCount"
        [onVoteUp]="upvote"
        [onVoteDown]="downVote"
        [isMyVoteDown]="post.myDownVote"
        [isMyVoteUp]="post.myUpVote"
      ></app-vote>
    </div>

    <div class="col-10">
      <div class="row">
        <a
          *ngIf="post.subreddit"
          class="col-4 custom-link"
          [routerLink]="'/subreddit/' + post.subreddit.id"
          ><span>r/{{ post.subreddit.name }}</span></a
        >
        <span class="col-4">
          Posted By
          <a
            class="mat-primary custom-link text-success"
            [routerLink]="'/user/' + post.user.username"
            >u/{{ post.user.username }}</a
          ></span
        >
        <span class="col-4">{{ post.creationDate | rdate }}</span>
      </div>
      <mat-divider class="mt-1"></mat-divider>
      <div class="mt-2" (click)="openPost()">
        <span class="mat-h1">{{ post.title }}</span>
        <br />
        <span class="mat-h3" [innerHTML]="post.description"></span>
      </div>
      <mat-divider class="mt-1"></mat-divider>
      <div class="actionButtons row mt-2">
        <div class="col-4">
          <button mat-button mat-icon (click)="openPost()">
            <mat-icon mat-list-icon class="mat-18">comment</mat-icon>
            {{ post.commentCount }} Comments
          </button>
        </div>
        <div class="col-4">
          <button mat-button mat-icon>
            <mat-icon mat-list-icon class="mat-18">share</mat-icon>
            Share
          </button>
        </div>
        <div class="col-4">
          <button mat-button mat-icon>
            <mat-icon mat-list-icon class="mat-18">save</mat-icon>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
